PROJECT-1. Анализ резюме из HeadHunter/Project_0.ipynb
PYTHON-16. Как выгружать данные из файлов разных форматов/data/students_performance.zip
PYTHON-16. Как выгружать данные из файлов разных форматов/data/recipes.json
PYTHON-16. Как выгружать данные из файлов разных форматов/data/ratings_movies.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/out.zip
PYTHON-16. Как выгружать данные из файлов разных форматов/data/grades.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/grades_new.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/ErrorEnCoding.csv
PYTHON-16. Как выгружать данные из файлов разных форматов/data/countries.txt
PYTHON-16. Как выгружать данные из файлов разных форматов/data/countries.csv
PYTHON-16. Как выгружать данные из файлов разных форматов/teoriya.ipynb
