PROJECT-1. Анализ резюме из HeadHunter/Project_0.ipynb
PYTHON-16. Как выгружать данные из файлов разных форматов/data/students_performance.zip
PYTHON-16. Как выгружать данные из файлов разных форматов/data/recipes.json
PYTHON-16. Как выгружать данные из файлов разных форматов/data/ratings_movies.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/out.zip
PYTHON-16. Как выгружать данные из файлов разных форматов/data/grades.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/grades_new.xlsx
PYTHON-16. Как выгружать данные из файлов разных форматов/data/ErrorEnCoding.csv
PYTHON-16. Как выгружать данные из файлов разных форматов/data/countries.txt
PYTHON-16. Как выгружать данные из файлов разных форматов/data/countries.csv
PYTHON-16. Как выгружать данные из файлов разных форматов/teoriya.ipynb
PYTHON-16. Как выгружать данные из файлов разных форматов/recipes.csv
PYTHON-16. Как выгружать данные из файлов разных форматов/teoriya_xml.ipynb
PYTHON-16. Как выгружать данные из файлов разных форматов/new_menu_good.xml
PYTHON-16. Как выгружать данные из файлов разных форматов/data/menu.xml
PYTHON-16. Как выгружать данные из файлов разных форматов/data/new_menu.xml
PYTHON-16. Как выгружать данные из файлов разных форматов/data/new_recipes.json
PROJECT-2. Анализ вакансий из HeadHunter/teoriya.ipynb
PROJECT-2. Анализ вакансий из HeadHunter/test.ipynb
PYTHON-17. Как получать данные из веб-источников и API/practica_0.ipynb
PYTHON-17. Как получать данные из веб-источников и API/teotiya_0.ipynb
PYTHON-17. Как получать данные из веб-источников и API/data/solarpower.csv
